<p id="notice"><%= notice %></p>

    <main role="main" class="container">
      <div class="row">
        <%= render "blogs/featured", featured: @featured %>
        <div class="col-md-8 blog-main">
          <%= paginate @blogs %>
          <%= render @blogs %>
        </div>
        <%= render "shared/blogs_aside" %>
      </div>
          <%= paginate @blogs %>
    </main>
  </div>

<br>
