    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h1><%= @blog.title %></h1>
          <h5><%= @blog.topic.title %></h5>
            <%= link_to 'Edit |', edit_blog_path(@blog) if logged_in?(:site_admin) %>
            <%= link_to 'Back', blogs_path %>
          <p><%= @blog.body %>
          <hr>
          <%= render 'comments/form', comment: @comment %>

          <div id="comments" data-blog-id="<%= @blog.id %>">
            <%= render @blog.comments.order("created_at DESC") %>
          </div>

        </div>
        <%= render "shared/blogs_aside" %>
      </div>
    </main>
  </div>
<script>
$('document').ready(function () {
  const textField = document.querySelector('textarea#comment_content');
  let counter = textField.parentElement.getElementsByClassName('counter')[0].innerText;
  textField.addEventListener('keyup', function () {
    const count = this.value.length;
    newCounter = counter - count;
    this.parentElement.querySelector('.counter').innerText = newCounter;
    if (newCounter < 0) {
      this.parentElement.querySelector('.counter').style.color = 'red';
    } else if (newCounter > 0) {
      this.parentElement.querySelector('.counter').style.color = 'black';
    }
  });
});
</script>
<br>

